
body{
    background-size: 100%;
    background-image: url("../clique_fantasma/img/Background.jpg");      
}

.fantasma_button{
    width:150px;
    height: 100px;
    border: none ;
    cursor: pointer;
    padding: 0;
}